<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Library</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.standalone.min.css}" />

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script th:src="@{/js/fileScript.js}"></script>

</head>
<body>

	<div class="tableLibraryTitle">
		<table class="table-bordered">
			<thead>
				<tr>
					<th class="text-center col-md-1" id="title"><h3>Library</h3></th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="tableLibrary">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-1">ID</th>
					<th class="text-center col-md-2">Description</th>
					<th class="text-center col-md-1">Price</th>
					<th class="text-center col-md-1">Date of Registration</th>
				</tr>
			</thead>
		</table>
		<table class="table table-bordered table-striped">
			<tbody>
				<tr th:each="book : ${bookList}">
					<td class="text-center col-md-1" th:text="${book.id}">1</td>
					<td class="text-center col-md-2" th:text="${book.description}">1</td>
					<td class="text-center col-md-1" th:text="|$ ${{book.price}} |"></td>
					<td class="text-center col-md-1" th:text="${{book.date}}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>